{% include 'base.html' %}
{% csrf_token %}

<body>
{% block content %}
  <ul>
    {% for post in posts %}
        <div class="container">
          <li>
            <h2>{{ post.title }}</h2>
            <p>{{ post.content }}</p>
            {% if post.image %}
                <div class="col-md-4 px-0">
                    <img src="{{ post.image.url }}" class="img-thumbnail mw-30">
                </div>
            {% endif %}
            <div class="d-flex align-items-center justify-content-left">
              <p class="m-2"><a href="{% url 'mem:detail' post.id %}">Подробнее</a></p>
              <p class="m-2"><a href="{% url 'user:detail' post.author.id %}">Автор статьи</a></p>
            </div>
          </li>
        </div>
    {% endfor %}
  </ul>
{% endblock %}
</body>
