
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tea</title>
</head>
<body>

    <h1></h1>

    <button id="addArticleButton">Добавить статью</button>
    <button id="reviewsButton">Отзывы</button>

    <div id="articleForm" style="display: none;">
        <h3>Добавить новую статью</h3>
        <form action="submit_article.php" method="POST">
            <label for="title">Название:</label><br>
            <input type="text" id="title" name="title" required><br><br>

            <label for="content">Содержание:</label><br>
            <textarea id="content" name="content" rows="4" required></textarea><br><br>

            <input type="submit" value="Опубликовать">
        </form>
    </div>

    <div id="reviewsForm" style="display: none;">
        <h3>Оставьте отзыв</h3>
        <form action="submit_review.php" method="POST">
            <label for="name">Ваше имя:</label><br>
            <input type="text" id="name" name="name" required><br><br>

            <label for="review">Отзыв:</label><br>
            <textarea id="review" name="review" rows="4" required></textarea><br><br>

            <input type="submit" value="Отправить отзыв">
        </form>
    </div>

    <script>
        document.getElementById("addArticleButton").onclick = function() {
            var form = document.getElementById("articleForm");
            if (form.style.display === "none") {
                form.style.display = "block";
            } else {
                form.style.display = "none";
            }
        };

        document.getElementById("reviewsButton").onclick = function() {
            var form = document.getElementById("reviewsForm");
            if (form.style.display === "none") {
                form.style.display = "block";
            } else {
                form.style.display = "none";
            }
        };
    </script>

</body>
</html>

    <meta charset="UTF-8">
    <title>Чай</title>
    <h1>Чай</h1>
    <h2> Чай — напиток, получаемый варкой, завариванием и/или настаиванием листа чайного куста, который предварительно подготавливается специальным образом. Чай в широком смысле — любой напиток, приготовленный путём заваривания предварительно подготовленного растительного материала. </h2>
    <ul>
        {% for article in articles %}
            <li><a href="{% url 'article_detail' article.id %}">{{ article.title }}</a></li>
        {% endfor %}
        <img src="{{ mymodelssss.image.url }}" alt="3.jpeg" style="max-width: 500px;">



    </ul>


</body>
</html>


